@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

h1{
    font-family: 'Shrikhand';
}
h2{
    font-family: 'Roboto';
}
p{
    font-family: 'Roboto';  
}
.center__align__items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Mobil*/

body{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    margin: 0px;
    min-height: 100vh;
}

/*Header*/
.header{
   
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__imglogo{ /*Ajout width justify-content ne fonctionne plus */
    padding: 1em;
    position: relative;
    z-index: auto;
}
.header__arrow{
    width: 3em;
}

.header__location{    
    background-color: rgba(234, 234, 234, 1);
    height: 3rem;
    width: 100%;
}
.header__dote{
    height: 1rem;
}
header p{
    margin-left: 1rem
}


/* Section Réservez le menu qui vous convient */

.Réservezlemenu{
    flex-direction: column;
}
.Réservezlemenu h2{
   width: 20ch;
    text-align: center;
    font-size: 24px;
}
.Réservezlemenu p{
    margin: 0 4em 1em 4em;
    text-align: center;
    font-weight: 300;
}

.Réservezlemenu button{
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;
    padding: 1em ;
}
.Réservezlemenu button a{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}
.Réservezlemenu button:hover{
    background: linear-gradient(200.64deg, #9256dcd2 -5.2%, #ff79d9d1 110.74%);
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    
}

/* Section Fonctionnement */
.fonctionnement{
    background-color: white;
    padding: 1em;
    margin-top: 2em;
}
.fonctionnement__title{
    margin-bottom: 0rem;
}
.fonctionnement__align{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.fonctionnement__button{
    display: flex;
    background: #F7F7F7;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 22rem;
    height: 4rem;
    margin: 1em;
}
.fonctionnement__button:hover{
    background-color: #F5EDFF;
    color: #9356DC;
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    opacity: 0.5;
    transition-duration: 1s;
}
.fonctionnement__number{ 
    position: absolute;   /*POSITION absolute non responsive */
    margin-right: 23.5rem;
    background-color:#9356DC;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.fonctionnement__svg{
    height: 30%;
}
.fonctionnement__svg:hover{  /* Regarder comment changer la couleur d'un SVG */
    height: 50%;
    color: #9356DC;
}
.fonctionnement p{
    margin-left: 1.5rem;
}

/*Section Restaurants*/
.restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
 
}
.restaurants__title{
    margin-left: 1rem;
}
.restaurants__card{
    aspect-ratio: 4/3;
    width: 21em;
    background-color: white;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 2em;
    
}
.restaurants__card:hover{
    transform: scale(0.95 ,0.95)
}
.restaurants__card a{
    text-decoration: none;
}
                    /* Ajouter hover__card Ici */


.restaurants__card__image{
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 2em 2em 0 0;
}
.new ::before  {
    content: "Nouveau";
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    background-color: #99E2D0;
    color: #008766;
    padding: 0.5rem;
}
.restaurants__card__image img{
    width: 100%;
}
.restaurants__card__body{
    text-align: start;
    padding-left: 1em;
    position: relative;
}
.restaurants__card__name{
    font-family: 'Roboto';
    color: black;
  
}
.restaurants__card__place {
    font-weight: 300;
    color: black;
   margin-top: -0.5em;
}

.restaurants__card__heart{
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 1.5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(#ff79da, #9356dc);
}
.restaurants__card__heart__empty{
    position: absolute;
    z-index: 1;
    color: black;
    right: 40px;
    top: 10px;
    font-size: 1.5em;
    background-color: #ffff;
}
.restaurants__card__heart__empty:hover{
    display: none;
}





/*Footer*/
.footer{
    margin-top: 2em;
    background-color:#353535;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer h3{
    font-family: 'Shrikhand';
    color:white;
    margin-left: 2em;
}
footer a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.footer__ul{
    margin-top: -1rem;
   
}
.footer__ul__li{
    color: white;
    list-style: none;
   
}