@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
:root{
    --borderRadius: 10px;
    --boxShadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    --boxShadowHover: 5px 4px 8px rgba(0, 0, 0, 1);
    --opacityHover: 0.5;
    --transitionDuration: 0.5s;
    --backgroundLinearGradient:linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    --animationTimes: 3s;
}

h1{
    font-family: 'Shrikhand';
}
h2{
    font-family: 'Roboto';
}
p{
    font-family: 'Roboto';  
}
.center__align__items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*Mobil*/

body{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    margin: 0px;
    min-height: 100vh;
}

/*Header*/
.header{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.header__imglogo{ /*Ajout width justify-content ne fonctionne plus */
    padding: 1em;
    position: relative;
    z-index: auto;
}
.header__arrow{
    width: 3em;
}

.header__location{    
    background-color: rgba(234, 234, 234, 1);
    text-align: center;
    height: 2rem;
    border-radius: var(--borderRadius);
    gap: 0.5em;
}
.header__dote{
    height: 1rem;
}
header p{
    margin-left: 1rem
}


/* Section Réservez le menu qui vous convient */

.Réservezlemenu{
    flex-direction: column;
}
.Réservezlemenu h2{
    width: 20ch;
    text-align: center;
    font-size: 24px;
}
.Réservezlemenu p{
    margin: 0 4em 1em 4em;
    text-align: center;
    font-weight: 300;
}

.Réservezlemenu button{
    background: var(--backgroundLinearGradient);
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    border: none;
    padding: 1em ;
}
.Réservezlemenu button a{
    text-decoration: none;
    font-family: 'Roboto';
    color: white;
}
.Réservezlemenu button:hover{
    box-shadow: var(--boxShadowHover);
    opacity: var(--opacityHover);
    transition-duration: var(--transitionDuration);
}

/* Section Fonctionnement */
.fonctionnement{
    background-color: white;
    padding: 1em;
    margin-top: 2em;
}
.fonctionnement__title{
    margin-bottom: 0rem;
}
.fonctionnement__align{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.fonctionnement__button{
    display: flex;
    background: #F7F7F7;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
    width: 22rem;
    height: 4rem;
    margin: 1em;
    animation: animationFonctionnement1 var(--animationTimes);
}

.fonctionnement__button:hover{
    box-shadow: var(--boxShadowHover);
    opacity: var(--opacityHover);
    transition-duration: var(--transitionDuration);
}
.fonctionnement__button__2{
    animation: animationFonctionnement2 var(--animationTimes);
    animation-fill-mode: backwards;animation-delay: 0.5s;

}
.fonctionnement__button__3{
    animation: animationFonctionnement3 var(--animationTimes);
    animation-fill-mode: backwards;animation-delay: 1s;
}

/*ANIMATION*/
@keyframes animationFonctionnement1{
    from{ 
        opacity: 0;
        transform: translatex(-800px);
    }
    to{
    opacity: 1;
    }
}
@keyframes animationFonctionnement2{
    from{ 
        opacity: 0;
        transform: translatex(800px);
    }
    to{
    opacity: 1;
    }
}
@keyframes animationFonctionnement3{
    from{ 
        opacity: 0;
        transform: translatex(-800px);
    }
    to{
    opacity: 1;
    }
}
.fonctionnement__number{ 
    position: absolute;   /*POSITION absolute non responsive */
    margin-right: 23.5rem;
    background-color:#9356DC;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.fonctionnement__svg{
    height: 30%;
}
.fonctionnement__svg:hover{  /* Regarder comment changer la couleur d'un SVG */
    height: 50%;
    color: #9356DC;
}
.fonctionnement p{
    margin-left: 1.5rem;
}

/*Section Restaurants*/
.restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
 
}
.restaurants__title{
    margin-left: 1rem;
}
.restaurants__card{
    aspect-ratio: 4/3;
    width: 21em;
    background-color: white;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
}
.restaurants__card:hover{
    box-shadow: var(--boxShadowHover);
    opacity: var(--opacityHover);
    transition-duration: var(--transitionDuration);
}

.restaurants__card a{
    text-decoration: none;
}
.restaurants__card__image{
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.new ::before  {
    content: "Nouveau";
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    background-color: #99E2D0;
    color: #008766;
    padding: 0.5rem;
}
.restaurants__card__image img{
    width: 100%;
}
.restaurants__card__body{
    text-align: start;
    padding-left: 1em;
    position: relative;
}
.restaurants__card__name{
    font-family: 'Roboto';
    color: black;
  
}
.restaurants__card__place {
    font-weight: 300;
    color: black;
    margin-top: -0.5em;
}

.restaurants__card__heart{
    position: absolute;
    right: 40px;
    top: 10px;
    font-size: 1.5em;
    color: var(--backgroundLinearGradient);
}
.restaurants__card__heart__empty{
    position: absolute;
    z-index: 1;
    color: black;
    right: 40px;
    top: 10px;
    font-size: 1.5em;
}



/*Footer*/
.footer{
    margin-top: 2em;
    background-color:#353535;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer h3{
    font-family: 'Shrikhand';
    color:white;
    margin-left: 2em;
}
footer a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}
.footer__ul{
    margin-top: -1rem;
   
}
.footer__ul__li{
    color: white;
    list-style: none;
   
}